
        .social_icons {
            display: flex;
            margin-top: 1rem;

            div {
                margin-right: 1rem;
                cursor: pointer;

                &:hover {
                    opacity: 0.8;
                }

                svg {
                    font-size: 1.3rem;
                }
            }
        }

#contact  a {
    text-decoration: none;
    color: #000;
    background: #fff;
    padding: 0.65rem 1rem;
    border-radius: 10px;
    font-size: 0.85rem;
    text-transform: capitalize;
    width: 165px;
}